<Configuration status="WARN">
	<Properties>
		<Property name="LOG_PATTERN">
			%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %c{1.} - %msg%n
		</Property>
		<property name="LOG_PROJECT" value="wh_starter" />
		<Property name="LOG_HOME">/data/app/wh_starter/logs</Property>
	</Properties>

	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>

		<!--projectName （项目标识）：需要monitor系统中日志分类配置
		configServer:常州机房配置（生产环境使用） -> 192.168.10.189:2181
					 新海宜机房配置（生产环境使用）-> idc-xhy-srv51.suiyi.com.cn:2181
					 开发及测试kubernetes -> zk:2181
		logNode（只在自己开发使用）: logstash.dev.svc.cluster.local:8080 -->
		<TcpAppender name="TcpAppender" projectName="${LOG_PROJECT}" configServer="zk:2181" bufferSize="256">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</TcpAppender>

		<RollingFile name="RollingFileAppender"
					 fileName="${LOG_HOME}/${LOG_PROJECT}.log"
					 filePattern="${LOG_HOME}/${LOG_PROJECT}-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<!-- 此处配置时间触发策略 -->
				<TimeBasedTriggeringPolicy />
				<!-- <CronTriggeringPolicy schedule="0 0 0 * * ?"/> -->
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy>
				<Delete basePath="${LOG_HOME}" maxDepth="2">
					<!-- 此处的日志文件名应与上面的filePattern值匹配上 -->
					<IfFileName glob="${LOG_PROJECT}-*.log" />
					<IfLastModified age="7d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RollingFile name="RollingFileErrorAppender"
					 fileName="${LOG_HOME}/${LOG_PROJECT}_error.log"
					 filePattern="${LOG_HOME}/${LOG_PROJECT}_error_%d{yyyy-MM-dd}_%i.log">
			<ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<!-- 此处配置时间触发策略 -->
				<TimeBasedTriggeringPolicy />
				<!-- <CronTriggeringPolicy schedule="0 0 0 * * ?"/> -->
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy>
				<Delete basePath="${LOG_HOME}" maxDepth="2">
					<!-- 此处的日志文件名应与上面的filePattern值匹配上 -->
					<IfFileName glob="${LOG_PROJECT}_error_*.log" />
					<IfLastModified age="10d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

	</Appenders>
	<Loggers>
		<logger name="com.wh.service.starter" level="INFO" additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="RollingFileAppender" />
			<AppenderRef ref="RollingFileErrorAppender" />
			<AppenderRef ref="TcpAppender" />
		</logger>

		<Root level="info">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="RollingFileAppender" />
			<AppenderRef ref="RollingFileErrorAppender" />
			<AppenderRef ref="TcpAppender" />
		</Root>
	</Loggers>
</Configuration>